#html {
  margin: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
#body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}








#root {

  margin: 0 auto;
  height: 100%;
  padding: 0;
  text-align: center;
}
.backgroundregister {
  background-image: url("./components/images/pexels-lalesh-aldarwish-194511.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  color:rgba(255, 255, 255, 0.988);
}
.backgroundlogin {
  background-image: url("./components/images/pexels-tomasz-filipek-1637436.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  color:rgba(255, 255, 255, 0.988);
}
.backgrounddashboard {
  background-image: url("./components/images/pexels-garrett-morrow-2885014.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  color:rgba(216, 128, 232, 0.988)
}
.backgroundform {
  background-image: url("./components/images/pexels-arturo-eg-6611630.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  color:rgba(249, 249, 249, 0.988);
}
.backgroundedit {
  background-image: url("./components/images/pexels-arturo-eg-6611630.jpg");
  background-size:cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  color:rgba(249, 249, 249, 0.988);
}
.displaylink{
  color: rgb(14, 219, 195);
}
.buttonlink{
  color: rgb(251, 248, 248)
}
/* 
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.APP{

  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
