.imageSize{
    width:20rem;
    height:20rem;
}
.backgroundAbout {
    background-image: url("../images/aboutpage.jpg");
    background-size:cover;
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    color:rgba(255, 255, 255, 0.988);
    
}
.backgroundAbout2 {
    background-image: url("../images/about2.jpg");
    background-size:cover;
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    color:rgba(255, 255, 255, 0.988);
    
}
.pictureSize {
    height:27rem;
    width:30rem;
}
.info1{
    display:flex;
    padding:2rem;
    height:auto; 
    justify-content: center;
    align-items: center;
}
.par{
    width:50%;
    font-size: 1.4rem;
    padding:10px;
    margin-left: 15px;
}
.head{
    margin-left: 3rem;
    color:blanchedalmond
}