nav{
    background-color: #333;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding: 0 1rem;
    border-radius: 5%;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    gap: 1rem;
}
.navLink {
    color: inherit;
    font-size: 2rem;
    text-decoration: none;

}
.navLink:hover {
    color:rgb(243, 251, 87)
}
.siteTitle{
    color: inherit;
    font-size: 2.5rem;
    text-decoration: none;
}.siteTitle:hover{
    color:aqua;
}
nav li:hover{
    background-color: #777;
}
.logoStyle{
    height: 7rem;
    width:7rem;
    margin-left:-17px;
}
