.backgroundProfile {
    background-image: url("../images/profile3.jpg");
    background-size:cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    color:rgba(255, 255, 255, 0.988);
    
}

.card1{
    display:flex;
    border: 2px solid white;
    width:60%;
    height:50%;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    position: relative;
    transform: translate(5%, 30%);
}
.profileStats{
    border: 2px solid white;
    width:30%;
    height:100%;
}
.profileInfo{
    border: 2px solid white;
    width:100%;
    height:100%;
    margin-left: .5rem;
}
.imageSize{
    width:10rem;
    height:10rem;
    margin-top: 1rem;
    border-radius: 100%;
}
.choosebtn{
    padding:3px;
    margin-left: -1rem;
    margin-right: 1rem;
}
.choosebtn:hover{
    background-color: rgb(167, 189, 143);
}
.choosebtn:active{
    background-color: chartreuse;
}
.infoStyle{
    font-size: 2rem;
    align-items: center;
    text-align: center;
}
.descriptionText{
    width:50%;
    margin-top: 5rem;
}
.descriptionLabel{
    font-size: 2rem;
    padding:5px;
    margin-right: 1rem;
    
}
.editBtn{
    background-color: rgb(21, 154, 110);
    color: white;
    width: 5rem;
    height: 3rem;
}
.editBtn:hover{
    background-color: greenyellow;
}